@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Gamja+Flower&family=Gothic+A1&family=Jua&family=Noto+Sans+KR:wght@350&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://webfontworld.github.io/t money/TmoneyRoundWind.css');

.page-container {
    overflow: hidden;
    padding: 10px 30px;
}

#resume-box {
    min-width: 650px;
    padding: 0 8px 8px 8px;
    text-align: right;
}

.download-btn {
    font-family: "Chiron Sung HK", serif;
    color: rgb(255, 255, 208);
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

.download-btn:hover {
    cursor: pointer;
    color: yellowgreen;
    transition: all 0.4s;
}

.files-box {
    min-width: 650px;
    margin: 0 auto;
    border: 2px solid #a8a8a8;
    border-radius: 20px;
    height: 600px;
}

.files-box>h2 {
    margin: 17px auto;
    text-align: center;
    font-family: "Chiron Sung HK", serif;
    color: rgb(255, 255, 208);
    font-weight: 300;
}

.project-box {
    width: 95%;
    margin: 17px auto;
    border-bottom: 1px dashed #a8a8a8;
}

.project-detail {
    padding: 10px 0 10px 10px;
    font-family: 'TmoneyRoundWind';
    font-weight: 500;
    font-style: normal;
    color: rgb(206, 206, 206);
}