.page-container {
    overflow: hidden;
    padding: 50px 50px;
}

#mp_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
}

#mp_imgs>img {
    position: absolute;
    width: 30%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}

#mp_imgs > img:nth-child(1) { left: 15%; }
#mp_imgs > img:nth-child(2) { left: 25%; }
#mp_imgs > img:nth-child(3) { left: 35%; }
#mp_imgs > img:nth-child(4) { left: 45%; }
#mp_imgs > img:nth-child(5) { left: 55%; }

#mp_imgs>img:hover {
    transform: scale(1.2);
    transition: all 0.400s;
}

#mp_imgs > img:hover ~ img {
    /* 호버된 이미지의 오른쪽에 있는 모든 형제 img들을 오른쪽으로 10% 더 밀어냄 */
    transform: translateX(20%);
}