@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gothic+A1&family=Jua&family=Noto+Sans+KR:wght@350&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.menu-icon {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0 10px 0 0;
}

.menu-icon>img {
    width: 40px;
    cursor: pointer;
    transition: all 0.300s;
}

.menu-icon>img:hover {
    width: 50px;
    transition: all 0.300s;
}

.icon-nav {
    display: none;
    padding: 0;
    width: 100px;
    z-index: 10;
    list-style: none;
    position: absolute;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 20px;
    text-align: center;
}

.icon-nav>li {
    font-family: "Playfair Display", serif;
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
    font-size: 1.1em;
}

.icon-nav>li>a {
    cursor: pointer;
    transition: all 0.350s;
    color: rgb(255, 241, 221);
}

.icon-nav>li>a:hover {
    font-size: 1.2em;
    color: orange;
}

.icon-nav.active {
    display: block;
}

@media (max-width: 800px) {
    .menu-icon {
        display: block;
        margin: 30px;
    }
}